footer {
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer { padding: 15px 20px; text-align: center; min-height: 60px; height: auto; } footer a { color: #0085ff; }
